SIGNOZ_UI_URL=http://localhost:8080
SIGNOZ_QUERY_URL=http://localhost:8080
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=api-guardian
EVALUATOR_PORT=8090
PORT_REMEDIATION_WEBHOOK_URL=http://localhost:3001/webhooks/signoz
